<div class="container-fluid">
  <h2 class="ls-title-intro ls-ico-user">REENVIE INSTRUÇÕES DE CONFIRMAÇÃO</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Reenvie instruções de confirmação" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
</div>