<div class="container-fluid">
  <h1 class="ls-no-margin-left ls-no-margin-right ls-title-intro ls-ico-table-alt">Produtos</h1>
  <div class="ls-box ls-board-box">
    <header class="ls-info-header">
      <h2 class="ls-title-3 ls-ico-plus">Comprar Novamente</h2>
    </header>
    <%= form_with(url: choose_period_product_path, method: :get, class: "ls-form", html: { 'data-ls-module': "form" }) do |f|%>
      <%= f.hidden_field :client_eni, value: current_client.eni %>
      <fieldset>
        <label class="ls-label col-md-4">
          <%= f.label :name, 'Produto', class:"ls-label-text"%><br/>
          <%= f.text_field(:name, value: @product.name, disabled: true) %>
        </label>
      </fieldset>
      <fieldset>
        <label class="ls-label col-md-4">
          <%= f.label :plan, 'Plano', class:"ls-label-text" %> <br/>
          <div class="ls-custom-select">
            <%= f.collection_select(:plan, @plans, :id, :name, { include_blank: 'Selecione o plano' } ) %>
          </div>
        </label>
        <div class="ls-actions-btn">
          <%= f.submit 'Escolher Periodicidade', class:'ls-btn-primary' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
