<div class="container-fluid">

  <div class="details">
    <div class="ls-list">
      <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
          <a><h1><%= @product.name %></h1></a>
        </div>
      </header>
      
      <div class="ls-list-content ">
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label">Status</span>
          <strong><%= Product.human_enum_name(:status, @product.status) %></strong>
        </div>
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label">Servidor de instalação</span>
          <strong><%= @product.server ? @product.server : 'Aguardando' %></strong>
        </div>
      </div>

      <div class="ls-list-content ">
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label">Grupo</span>
          <strong><%= @product.group %></strong>
        </div>
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label">Plano</span>
          <strong><%= @product.plan %></strong>
        </div>
      </div>

      <div class="ls-list-description ls-list-content">
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label">Periodicidade</span>
          <strong><%= @product.frequency %></strong>
        </div>
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label">Preço</span>
          <strong><%= number_to_currency(@product.price) %></strong>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'Comprar Novamente', buy_product_path(@product), class: 'ls-btn-primary ls-btn' %>
  <% unless @product.canceled? %>
    <%= link_to 'Cancelar produto', cancel_product_path(@product),
                                    data: { confirm: "O produto e/ou o plano podem não estar mais disponiveis no futuro, confirmar?" },
                                    method: :post, class: 'ls-btn-primary-danger ls-btn' %>
  <% end %>
</div>